.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: aliceblue;
    box-shadow: 0 0 35px 20px rgba(143, 143, 143, 0.466);
    border-radius: 10px;
    width: min-content;
    margin: auto;
    margin-top: 3rem;
    padding: 1rem;
    font-weight:bold;
    text-align: center;
}

p {
    color: gray;
}

img {
    height: 20rem;
    width: auto;
    border-radius: 10px;
} 